.navbar {
  display: flex;
  height: 8vh;
  border-bottom: 1px solid var(--border);
  justify-content: space-between;
}
.bar-resizer{
  width: 50vw;
  display: flex;
  align-items: center;
}
.nav-title {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.nav-menu{
    display: flex;
    gap: 14px;
    align-items: center;
    margin-right: 10px;
}
.coins{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 4px;
    border-radius: 5px;
    border: transparent 1px solid;
    transition: ease-in-out .15s;    
    cursor: pointer;
}
.coins:hover{
    border: var(--secondary-text) solid 1px; 
    background-color: #070708;
}
h1 {
  color: var(--primary-text);
  font-size: 1.1rem;
  font-weight: 700;
}
p {
  color: var(--secondary-text);
  font-size: 14px;
  font-weight: 300;
}
